<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335962184172-fob78isbngvokge6b4sdr2odb5dglgsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335962184172-fob78isbngvokge6b4sdr2odb5dglgsh</string>
	<key>API_KEY</key>
	<string>AIzaSyDeVdq0Jhv00imnDjUFNpMioOGkw09WROE</string>
	<key>GCM_SENDER_ID</key>
	<string>335962184172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catApp2021</string>
	<key>PROJECT_ID</key>
	<string>cat-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335962184172:ios:8aacdf24562d1bc95708c9</string>
</dict>
</plist>